.row {
  text-align: center;
  margin-bottom: 1%;
}
.item {
  display: inline-block;
  position: relative;
}
.item:hover .favourite {
  display: block;
}
.discount {
  position: absolute;
  width: 40px;
  height: 20px;
  top: 0px;
  right: 0px;
}
.green {
  background: green;
}
.red {
  background: red;
}
.favourite {
  position: absolute;
  text-align: center;
  bottom: 2%;
  left: 49%;
  color: red;
  font-size: 2em;
  display: none;
}
